label{
    display: inline-block;
    min-width: 200px;
    
}
#conteneur{
    text-align: center;
    display: flex;
}
#section{
    text-align: center;
    margin-top: 150px;
    padding-top: 10px;
    
}

#fieldset{
    margin-left: 150px;
    margin-right: 600px;
    

    
}
body {
    
    background-image:url(food.jpg);
    margin:0;
    background-attachment:fixed;
    background-repeat:repeat;
    
    }

    #div1{
    color:black;
    background-color:white;
    margin-left: 500px;
    margin-right: 500px;
    
    }
    #div2{
        text-align: center;
    }
    input{
        border-radius: 6px;
        width: 250px;
            
    }
    #sign{
        background-color: green;
        color:white
    }
    input:hover{
        background-color:aquamarine;
        
    }
    #Reset1{
        background-color: red;
        color: white;
    }
    #footer{
    
        text-align: center;
        color: white;
    }
    
